@page
@model Scrape4Wordlists.Pages.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div id="welcome">
        <h3>Welcome to Scrape4Wordlists</h3>
        <p>Under Construction!</p>
    </div>

    <div id="info">
        <h3>Something f#%ed up!</h3>
    </div>
</body>
</html>
