@page
@model Scrape4Wordlists.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="css/Style.css" />
</head>
<body>
    <div id="welcome">
        <h3>Welcome to Scrape4Wordlists</h3>
        <p>Under Construction!</p>
    </div>

    <div id="info">
        <h3>Web Pages Scraped: @Model.ScrapedUriCount</h3>
    </div>
</body>
</html>